/* Global */
:root {
  --red: #C5004A;
  --darkred: #7F0036;
  --lightgrey: #e0e0e0;
  --grey: #C0C0C0;
  --darkgrey: #333;
  --navy: #17050F;
  --blue: #082840;
  --white: #fff;
}

body {
  background: var(--white);
  color: var(--darkgrey);
  padding: 0;
  line-height: 1.5;
  max-width: 60rem;
  font-family: sans-serif;
  margin: auto;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 1.2;
  max-width: 35ch;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 0;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1em;
  margin-bottom: 0;
}

/* More info: https://piccalil.li/quick-tip/limit-line-lengths-to-increase-readability/ */
p,
li,
dl {
  max-width: 60rem;
}

main {
  padding: 1rem;
  max-width: 37.5em; /* 600px /16 */
}
main :first-child {
  margin-top: 0;
}

* {
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  width: 100%;
  height: auto;
}
a[href] {
  color: var(--blue);
}
a[href]:visited {
  color: var(--navy);
}

main li {
  padding-top: 1em;
  padding-bottom: 1em;
}

header:after {
  content: "";
  display: table;
  clear: both;
}

/* Good bad policy service table */
table,
th,
tr
td {
  border-collapse: collapse;
  text-align: inherit;
  padding: 2% 8% 2% 2%;
}

table {
  width: 100%;
}

tr:first-of-type {
  border-bottom: solid;
}

tr:last-of-type {
  border-top: solid;
}

th:first-of-type {
  border-right: solid;
}

td {
  border-left: solid;
}

tr td:first-of-type {
  border-left: none;
  border-right: solid;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* stretch image utility */
@media screen and (max-width: 600px) {
  .full-width-image-container {
    overflow-x: scroll;
  }
}

.full-width-image {
  display: block;
  width: 900px;
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, .8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header */
.home {
  padding: 0 1rem;
  float: left;
  margin: 1rem 0; /* 16px /16 */
  font-size: 1em; /* 16px /16 */
}
.home :link:not(:hover) {
  text-decoration: none;
}

/* Nav */
.nav {
  padding: 0;
  list-style: none;
  float: right;
}
.nav-item {
  display: inline-block;
  margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
  text-decoration: none;
}

/* Posts list (automatic) */
.postlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.postlist-date {
  color: var(--darkgrey);
  word-spacing: -0.5px;
  margin-top: 0.25em;
}
.postlist-link {
  display: inline-block;
  padding-bottom: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist

/* Tags */
.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  font-size: 0.625em; /* 10px /16 */
  padding: 2px 4px;
  margin-left: 0.8em; /* 8px /10 */
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
a[href].tag,
a[href].tag:visited {
  color: #fff;
}

/* Warning */
.warning {
  background-color: #ffc;
  padding: 1em 0.625em; /* 16px 10px /16 */
}
.warning ol:only-child {
  margin: 0;
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
a[href].direct-link:focus:visited,
:hover > a[href].direct-link,
:hover > a[href].direct-link:visited {
  color: #aaa;
}

/* Footer */
.footer {
    padding: 2rem;
    margin-top: 1rem;
    border-top: 1px solid var(--lightgrey);
}
.footer__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer__list-item {
    padding: 0;
    margin-left: 1rem;
    display: inline-block;
}

.notice {
    padding: 2rem;
    text-align: center;
}
