---
layout: layouts/home.njk
tags:
  - nav
navtitle: Blog
permalink: /blog/
---

<h1>Blog</h1>

<p>02.
<a href="/posts/simplifying-managing-land/">Collaborating across organisational boundaries to simplify managing land</a>
</p>


<p>01.
<a href="/posts/improving-support/">Improving GDS support for teams with lower digital capability</a>
</p>

<p>Some posts are password protected. DM me on Twitter for access.</p>
