---
tags:
- nav
layout: layouts/base.njk
navtitle: Blog
permalink: /blog/
eleventyNavigation:
  key: Blog
  order: 2
---

<h1>Blog</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p>Blog posts do not reflect the views of my employers.</p>

<h2>Published elsewhere</h2>

<p>
<ol class="postlist">
  <li><a class="postlist-link" href="https://gds.blog.gov.uk/2021/11/17/why-we-think-online-html-forms-are-usually-better-than-document-based-forms-in-government/" target="_blank" rel="noopener noreferrer">Government Digital Service Blog: 
Why we think online HTML forms are usually better than document-based forms in government</a> (Opens in new tab)<p class="postlist-date"><time datetime="2021-11-17">17 November 2021</time></p></li>
  <li><a class="postlist-link" href="https://gds.blog.gov.uk/2021/09/28/podcast-collecting-information-from-users/" target="_blank" rel="noopener noreferrer">Government Digital Service Podcast: Collecting information from users</a> (Opens in new tab)<p class="postlist-date"><time datetime="2021-09-28">28 September 2021</time></p></li>
  <li><a class="postlist-link" href="https://xgovformbuilder.github.io/x-gov-form-community/2021-GDS-discovery/" target="_blank" rel="noopener noreferrer">Sprint updates: Government Digital Service discovery to learn about collecting information from users</a> (Opens in new tab)<p class="postlist-date"><time datetime="2021-01-15">15 January 2021</time></p></li>
</ol>
</p>