---
layout: layouts/home.njk
tags:
  - nav
navtitle: Blog
permalink: /blog/
---

<h1>Blog</h1>

<p>04.
<a href="/posts/building-trust-improving-services/">Building trust to improve services</a>
</p>

<p>03.
<a href="/posts/digital-procurement-sketches/">Sketches for scaling digital public sector procurement</a>
</p>

<p>02.
<a href="/posts/simplifying-managing-land/">Collaborating across organisational boundaries to simplify managing land</a>
</p>


<p>01.
<a href="/posts/improving-support/">Improving GDS support for teams with lower digital capability</a>
</p>

<p>Blog posts do not reflect the views of my employers. Some posts are password protected. Message me on Twitter for access.</p>
