<ol class="postlist">
{% for post in postslist | reverse %}
  <li>
    <a href="{{ post.url | url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <p class="postlist-date"><time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></p>
  </li>
{% endfor %}
</ol>